@import "../../styles/Color/Color.scss";
.about {
  padding-top: 130px;
}
.dp {
  border: 7px solid white;
  border-radius: 5px;
  // margin-top: -120px;
  width: 400px;
}
.aboutMe {
  p {
    text-align: justify;
    margin-left: 15px;
    line-height: 26px;
  }
  a {
    margin-left: 15px;
  }
}
