@import "../../styles/Color/Color.scss";
.header {
  height: 560px;
  background-color: $cobalt;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: $cobalt;
  z-index: 100;
}
.welcomeText {
  color: white;
  padding-top: 130px;
  text-align: center;
}
.welcomeText span {
  color: $turquoise;
}
.welcomeText h1 {
  font-size: 56px;
}
.welcomeText h2 {
  font-size: 40px;
}
.dot {
  width: 100px;
}
.scroll {
  width: 30px;
  margin-top: 2em;
}
.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}
@keyframes circleAnim {
  0% {
    transform: translate(262px, 798px);
    z-index: 5;
  }
  100% {
    transform: translate(262px, 830px);
  }
}
