@import "../../styles/Color/Color.scss";
.header {
  height: 560px;
  background-color: $cobalt;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: $cobalt;
  z-index: 100;
}
.welcomeText {
  color: white;
  padding-top: 140px;
  text-align: center;
}
.welcomeText span {
  color: $turquoise;
}
.welcomeText h1 {
  font-size: 56px;
}
.welcomeText h2 {
  font-size: 40px;
}
.dot {
  width: 100px;
}
