@import "./styles/Color/Color.scss";
body {
  background-color: $mercury;
  color: $text;
}
.btn-custom {
  border: 2px solid $turquoise;
  color: $turquoise;
  &:hover {
    color: black;
    background-color: $turquoise;
  }
}
